body {
    background-image: url(dark_embroidery.png);
    color: #DDDDDD;
}

#summaryPar {
    text-align: center;
    margin-top: 30%;
    margin-bottom: 10px;
    font-size: 5em;
    font-family: Precious;
    color: #a258d3;
}

.centerMe {
    text-align: center;
    font-size: 2em;
    color: #FFD700;
    font-family: Shihan;
}

#wholePage {
    height: 100%;
}

#pillarsDiv {
    font-family: uberli;
    background-color: black;
    border-radius: 15px;
    margin-bottom: 20%;
}

@font-face {
    font-family: Didactic;
    src: url('Didactic-Regular.otf');
}

@font-face {
    font-family: Precious;
    src: url('Precious.ttf');
}

@font-face {
    font-family: Shihan;
    src: url('Shihan.otf');
}

.pillarPar {
    font-size: 1.3em;
    font-family: Didactic;
}

.italic {
    font-style: italic;
}

.footer {
    position: relative;
    width: 50%;
    left: 25%;
}

#userEmail {
    width: 40%;
    margin-left: 30%;
    background-color: #303030;
    border-width: 1px;
    border-color: #a258d3;
    height: 30px;
    border-radius: 10px;
}

#emailSubmit {
    display: block;
    background-color: #303030;
    border-width: 1px;
    border-color: #a258d3;
    height: 30px;
    border-radius: 10px;
    color: #a258d3;
    width: 12%;
    margin-left: 44%;
    margin-top: 25px;
}

@media (max-width: 990px) {
    
    #emailSubmit {
        display: block;
        width: 30%;
        margin-left: 35%;
    }
    
    #userEmail {
        width: 60%;
        margin-left: 20%;
    }
}
    
#summaryAndInputDiv {
    margin-bottom: 100px;
}
