body {
    background-image: url(dark_embroidery.png);
    color: #DDDDDD;
}


#summaryPar {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 10px;
    font-size: 5em;
    font-family: Precious;
    color: #a258d3;
}

.centerMe {
    text-align: center;
    font-size: 2em;
    color: #4b8ee5;
    font-family: Shihan;
}

#wholePage {
    height: 100%;
}

#pillarsDiv {
    font-family: uberli;
    background-color: black;
    border-radius: 15px;
    margin-bottom: 20%;
}


@font-face {
    font-family: Uberlin;
    src: url('Uberlin.ttf');
}

@font-face {
    font-family: Precious;
    src: url('Precious.ttf');
}

@font-face {
    font-family: Shihan;
    src: url('Shihan.otf');
}



.pillarPar {
    font-size: 1.3em;
}

.italic {
    font-style: italic;
}

.footer {
    position: relative;
    width: 50%;
    left: 25%;
}



#userEmail {
    width: 40%;
    margin-left: 30%;
    background-color: #303030;
    border-width: 1px;
    border-color: #a258d3;
    height: 30px;
    border-radius: 10px;
}

#emailSubmit {
    background-color: #303030;
    border-width: 1px;
    border-color: #a258d3;
    height: 30px;
    border-radius: 10px;
    color: #a258d3;
    margin-left: 25px;
}

#summaryAndInputDiv {
    margin-bottom: 100px;
}
